@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #3b82f6;
    --cor-secundaria: #f4f4f4;
    --cor-terciaria: #ffffff;
    --cor-black: #000000;
    --cor-acao-botao: #0056b3;
    --font-principal: 'Inter', sans-serif;
    --font-secundaria:  'Raleway', sans-serif;
}

body {
    height: 100vh;
    display: flex;
}


.cabecalho {
    display: inline;
    margin-left: 10px;
}


.sidebar {
    display: none;
    flex-flow: column nowrap;
    background-color: var(--cor-primaria);
    width: 270px;
}

.imagem {
    display: flex;
    align-items: center;
    align-self: center;

}

.imagem img {
    width: 70px;
}

.nome__logo {
    font-family: var(--font-principal);
    font-size: 1.2em;
    font-weight: bold;
}

.container__sidebar {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--cor-terciaria);
    width: 90%;
    max-width: 512px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideDown 0.5s ease forwards;
}

.txt__modal {
    margin-left: 10px;
}

.modal > .text {
    color: #0000006f;
}

.input__new__folder {
    margin-top: 30px;
    text-align: center;
}

.modal > .input__new__folder p {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}

#nomePasta {
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.criar-btn {
    background-color: #d9d9d9;
    margin: 0 auto 30px;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #000000;
}
.criar-btn:hover {
    background-color: #ababab;
}

.modal > i {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    cursor: pointer;
    padding: 5px;
    font-size: 24px;
}

/*telas menores*/
@media (max-width: 600px) {
    .modal {
        padding: 15px;
        height: auto; /* deixa a altura automática conforme o conteúdo */
    }

    .txt__modal {
        font-size: 18px;
        margin-left: 5px;
        text-align: center;
    }

    .modal > .input__new__folder p {
        margin-left: 5px;
        font-size: 16px;
    }

    #nomePasta {
        height: 35px;
        font-size: 16px;
    }

    .criar-btn {
        height: 40px;
        font-size: 16px;
    }

    .modal > i {
        font-size: 28px;
        padding: 10px;
    }
}

.hidden {
    display: none;
}


.container__sidebar.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}


/* Animação suave no abrir */
@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
