@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

:root {
    --cor-primaria: #3b82f6;
    --cor-secundaria: #f4f4f4;
    --cor-terciaria: #ffffff;
    --cor-black: #000000;
    --cor-acao-botao: #0056b3;
    --font-principal: 'Inter', sans-serif;
    --font-secundaria:  'Raleway', sans-serif;
}

body.modal-open {
    font-family: var(--font-principal);
    overflow: hidden;
}


.cabecalho {
    display: inline;
    margin-left: 55px;
    color: #000000c1;
    line-height: 1.6;
}

/*menu lateral*/
.sidebar {
    display:flex;
    flex-flow: column nowrap;
    background-color: var(--cor-primaria);
    height: 100%;
    width: 330px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    transition: transform 0.3s ease;
    z-index: 1000;
    transform: translateX(-100%); /*oculta sidebar mobile*/
}

.sidebar.open {
    transform: translateX(0);
}

/*botao*/
.toggle-arrow {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 1.3em;
    color: #000000;
    z-index: 1100;
    cursor: pointer;
    transition: left 0.3s ease;
    border: none;
    border-radius: 8px;
    outline: none;
    height: 30px;
    width: 30px;
    padding: 0;
}

/* Quando a sidebar estiver aberta, seta vai pra dentro*/
.sidebar.open ~ .toggle-arrow {
    position: fixed;
    top: 20px;
    left: 280px; /* um pouco dentro da sidebar (320 - botão) */
    z-index: 1001;
}

.imagem {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.imagem img {
    width: 70px;
}

.nome__logo {
    font-family: var(--font-principal);
    font-size: 1.2em;
    font-weight: bold;
}

.btn__criar-nova-pasta {
    background-color: var(--cor-terciaria);
    height: 30px;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/*modal*/
.container__modal {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/*desativa/seta/modal estiver aberto*/
#modal:not(.hidden) ~ .toggle-arrow {
    pointer-events: none; /*desativa clique*/
    opacity: 0.4;
    cursor: default;
}

.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--cor-terciaria);
    font-family: var(--font-principal);
    width: 90%;
    max-width: 512px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideDown 0.5s ease forwards;
}

.txt__modal {
    margin-left: 10px;
}

.modal > .text {
    color: #0000006f;
}

.input__new__folder {
    margin-top: 30px;
    text-align: center;
}

.modal > .input__new__folder p {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    
}

#nomePasta {
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #000000;
    box-sizing: border-box;
    outline: none;
    padding-left: 12px;
}

.criar-btn {
    background-color: #d9d9d9;
    margin: 0 auto 30px;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #000000;
    cursor: pointer;
}
.criar-btn:hover {
    background-color: #ababab;
}

.modal > i {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    cursor: pointer;
    padding: 5px;
    font-size: 24px;
}

/*telas menores/ modal */
@media (max-width: 600px) {
    .modal {
        padding: 15px;
        height: auto; /* deixa a altura automática conforme o conteúdo */
    }

    .txt__modal {
        font-size: 18px;
        margin-left: 5px;
        text-align: center;
    }

    .modal > .input__new__folder p {
        margin-left: 5px;
        font-size: 16px;
    }

    #nomePasta {
        height: 35px;
        font-size: 16px;
    }

    .criar-btn {
        height: 40px;
        font-size: 16px;
    }

    .modal > i {
        font-size: 28px;
        padding: 10px;
    }
}

.hidden {
    display: none;
}


.container__sidebar.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

/* Animação suave no abrir/ modal */
@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*conteúdo principal*/
.container__principal {
    margin: 25px 15px 0 15px;
    font-family: var(--font-principal);
}

.container__main__conteudo {
    height: 100%;
}

div.cabecalho > span {
    font-family: var(--font-principal);
    font-size: 1.15em;
    font-weight: 500;
    margin: 0 5px;
}

.titulo__main__novapasta {
    font-family: var(--font-principal);
    font-size: 1.7em;
    margin-top: 15px;
}

.main__texto {
    font-family: var(--font-principal);
    font-size: 1em;
    color: #000000a3;
    margin-top: 5px;
}

.btn__pdf {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    margin: 10px 0;
    border: none;
    background-color: var(--cor-primaria);
}
