/*Configuração geral*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root {
    --cor-primaria: #3b82f6;
    --cor-secundaria: #f4f4f4;
    --cor-terciaria: #ffffff;
    --cor-black: #000000;
    --cor-acao-botao: #0056b3;
    --font-principal: 'Inter', sans-serif;
    --font-secundaria:  'Raleway', sans-serif;
}

body {
    height: 100vh;

}

/*mobile*/

.cabecalho {
    background-color: var(--cor-primaria);
    height: 170px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 1px 1px 5px #00000053;
}

.cabecalho span { /* logo */
    color: var(--cor-terciaria);
    font-family: var(--font-principal);
    font-size: 1.8em;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    text-shadow: 2px 2px 5px #00000058;
}

span img {
    width: 75px;
}

.menu {
    width: 100%;
    margin-top: 10px;
    padding: 11px;
}

.menu__ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

}

.menu__ul__li a {
    color: var(--cor-terciaria);
    font-family: var(--font-principal);
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 6px;
}

.menu__ul__li a:hover{
    background-color: var(--cor-acao-botao);
    transition-duration: 0.5s;
}

.menu__ul__li a:active {
    background-color: var(--cor-acao-botao);
}

.principal {
    display: flex;
    flex-flow: column nowrap;
}

.hero{
    height: 340px;
    color: var(--cor-terciaria);
}

.hero__conteudo {
    margin: 15px 20px;
}

.hero__titulo {
    font-family: var(--font-secundaria);
    color: var(--cor-black);
    font-size: 1.3em;
    font-weight: 600;
}

.hero__texto {
    font-family: var(--font-secundaria);
    color: var(--cor-black);
    font-size: 0.9em;
}

.botao {
    background-color: var(--cor-primaria);
    display: block;
    text-align: center;
    width: 140px;
    margin-top: 20px;
    padding: 13px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00000053;
}

.botao:hover {
    background-color: var(--cor-acao-botao);  
}

.botao:active{
    background-color: var(--cor-acao-botao);
}

.botao__link {
    font-family: var(--font-secundaria);
    font-size: 0.9em;
    font-weight: 300;
    color: var(--cor-terciaria);
}

div.conteiner__lendo {
    display: flex;
    justify-content: flex-end;  
}

.conteiner__img {
    display: flex;
    justify-content: center;
}

.conteiner__imglendo {
    width: 200px;
    margin-right: 30px;
    position: relative;
    left: 20px;
    top: -90px;
}

.conteiner__imglivros {
    margin-top: 20px;
    width: 190px;
}

.conteiner__texto {
    font-family: var(--font-secundaria);
    color: var(--cor-terciaria);
    font-size: 0.9em;
}

.conteiner {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    height: 360px;
    padding: 15px 20px;
    line-height: 1.2em;
}

.conteiner__titulo{
    font-family: var(--font-principal);
    font-size: 1.4em;
    padding-bottom: 5px;
    font-weight: bold;
    font-style: italic;
}

.rodape {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.rodape__texto {
    font-family: var(--font-principal);
    font-size: 1em;
    font-weight: 200;
    text-align: center;
    padding: 15px;
}

